<!DOCTYPE html>
<html lang=en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Сброс пароля</title>
        <link href="/css/passwordReset.css" rel="stylesheet">
        <link rel="icon" href="/pictures/faveicon.png" type="image">
        <script src="/js/lib/axios.min.js"></script>
    </head>
    
<body>
  <div class="form">
    <h1>AudAIBook</h1>
    <h2>Сброс пароля</h2>

      <!--ввод email-->
    <div id="emailStep">
      <input type="email" id="inputEmail" name="input-email" placeholder="Ваша почта" required>
      <br>
      <button type="button" class="btn-login" id="btnSendCode">Выслать код</button>
    </div>

      <!--ввод кода-->
    <div id="codeStep" style="display: none"> <!--style="display: none;" -->
      <div class="code-inputs">
        <input type="text" maxlength="1" class="code-num" data-index="0">
        <input type="text" maxlength="1" class="code-num" data-index="1">
        <input type="text" maxlength="1" class="code-num" data-index="2">
        <input type="text" maxlength="1" class="code-num" data-index="3">
        <input type="text" maxlength="1" class="code-num" data-index="4">
        <input type="text" maxlength="1" class="code-num" data-index="5">
      </div>
      <input type="hidden" id="fullOtp" name="otp">
    </div>

      <!--новый пароль-->
      <div id="passwordStep" style="display: none"> <!--style="display: none"-->
       
        <br><div class="password-wrapper"><!--Пароль-->
          <input type="password" id="inputPassword" name="input-password" placeholder="Пароль" required><!--Пароль-->
          <input type="password" id="inputConfirmPassword" name="confirm-password" placeholder="Повторите пароль" required>
          <div class="lock-icon" id="allLockIcon"><!--Иконка с помощью векторного рисунка-->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <rect x="3" y="11" width="18" height="11" rx="2"/>
              <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
            </svg>
          </div>
        </div>
          <br><button type="button" class="btn-login" id="btnSavePassword">Сохранить пароль</button>
      
        </div>

      <a href="/html/login.html">войдите</a>
      <div class="or">или</div>
      <a href="/html/register.html">зарегистрируйтесь</a>
  </div>

  <footer>
    <script src="/js/passwordReset.js"></script>
    <script src="/js/passwordToggle.js"></script>
  </footer>

</body>
</html>