<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="option1.css">
    <link rel="icon" href="#" type="image"> <!--иконка-->
    <script src="#"></script>
</head>

<body>
    <form action="URL">
        <h1>SignUp</h1> <!--Заголовок-->
        <input type="text" class="logInput" id="logInput" placeholder="login"> <!--Логин-->
        <br><div class="password-wrapper"><!--Пароль-->
            <input type="password" class="pasInput" id="password" placeholder="password"><!--Пароль-->
            <div class="lock-icon"><!--Иконка с помощью векторного рисунка-->
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <rect x="3" y="11" width="18" height="11" rx="2"/>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
                </svg>
            </div>
        </div>
        <br><button type="button" class="btn" id="myButton">login</button> <!--Кнопка Войти-->
        <br><a href src="#">forgot password</a> <!--Сброс пароля-->
        <div class="or">or</div><!--ИЛИ-->
        <a href src="#">registration</a><!--Регистрация-->
    </form>
    <script src="/option1.js"></script><!--скрыть\показать пароль-->
</body>
</html>