<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сумма двух чсисел</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="shine.png" type="image">
</head>

<body>
    <video autoplay muted loop id="bg-video">
        <source src="winter.mp4" type="video/mp4">
    </video>
    <div class="object">
        <div class="condition">
            <h2>Условие:</h2>
            <p>Учитывая массив целых чисел nums и целое число target, верните индексы двух чисел таким образом,
                чтобы они в сумме равнялись target. Вы можете предположить, что каждый ввод будет иметь ровно одно
                решение,
                и вы не можете использовать один и тот же элемент дважды.</p>
        </div>
        <div class="decision">
            <h2>Ответ:</h2>
            <p id="answer"></p>
        </div>
    </div>
    <script src="ap.js"></script>
</body>

</html>